# Importing

In [21]:
import csv
import numpy as np
import pandas as pd
import pandas_profiling as pp
import matplotlib.pyplot as plt
import seaborn as sns

from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

# Loading data

In [5]:
df = pd.read_csv("fraudTrain.csv")

In [17]:
cols = list(pd.read_csv("fraudTrain.csv", nrows =1))
print(cols)

['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud']

In [6]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [7]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [22]:
data = pd.DataFrame(df)
print(data)
  
# forming ProfileReport and save
# as output.html file
profile = pp.ProfileReport(data)
profile.to_file("output.html")

         Unnamed: 0 trans_date_trans_time               cc_num  \
0                 0   2019-01-01 00:00:18     2703186189652095
1                 1   2019-01-01 00:00:44         630423337322
2                 2   2019-01-01 00:00:51       38859492057661
3                 3   2019-01-01 00:01:16     3534093764340240
4                 4   2019-01-01 00:03:06      375534208663984
...             ...                   ...                  ...
1296670     1296670   2020-06-21 12:12:08       30263540414123
1296671     1296671   2020-06-21 12:12:19     6011149206456997
1296672     1296672   2020-06-21 12:12:32     3514865930894695
1296673     1296673   2020-06-21 12:13:36     2720012583106919
1296674     1296674   2020-06-21 12:13:37  4292902571056973207

                                    merchant       category     amt  \
0                 fraud_Rippin, Kub and Mann       misc_net    4.97
1            fraud_Heller, Gutmann and Zieme    grocery_pos  107.23
2                       fraud_Lind-Buckridge  entertainment  220.11
3         fraud_Kutch, Hermiston and Farrell  gas_transport   45.00
4                        fraud_Keeling-Crist       misc_pos   41.96
...                                      ...            ...     ...
1296670                    fraud_Reichel Inc  entertainment   15.56
1296671             fraud_Abernathy and Sons    food_dining   51.70
1296672                 fraud_Stiedemann Ltd    food_dining  105.93
1296673  fraud_Reinger, Weissnat and Strosin    food_dining   74.90
1296674  fraud_Langosh, Wintheiser and Hyatt    food_dining    4.30

               first       last gender                         street  ...  \
0           Jennifer      Banks      F                 561 Perry Cove  ...
1          Stephanie       Gill      F   43039 Riley Greens Suite 393  ...
2             Edward    Sanchez      M       594 White Dale Suite 530  ...
3             Jeremy      White      M    9443 Cynthia Court Apt. 038  ...
4              Tyler     Garcia      M               408 Bradley Rest  ...
...              ...        ...    ...                            ...  ...
1296670         Erik  Patterson      M       162 Jessica Row Apt. 072  ...
1296671      Jeffrey      White      M  8617 Holmes Terrace Suite 651  ...
1296672  Christopher  Castaneda      M     1632 Cohen Drive Suite 639  ...
1296673       Joseph     Murray      M           42933 Ryan Underpass  ...
1296674      Jeffrey      Smith      M           135 Joseph Mountains  ...

             lat      long  city_pop                                job  \
0        36.0788  -81.1781      3495          Psychologist, counselling
1        48.8878 -118.2105       149  Special educational needs teacher
2        42.1808 -112.2620      4154        Nature conservation officer
3        46.2306 -112.1138      1939                    Patent attorney
4        38.4207  -79.4629        99     Dance movement psychotherapist
...          ...       ...       ...                                ...
1296670  37.7175 -112.4777       258                       Geoscientist
1296671  39.2667  -77.5101       100   Production assistant, television
1296672  32.9396 -105.8189       899                    Naval architect
1296673  43.3526 -102.5411      1126              Volunteer coordinator
1296674  45.8433 -113.8748       218           Therapist, horticultural

                dob                         trans_num   unix_time  merch_lat  \
0        1988-03-09  0b242abb623afc578575680df30655b9  1325376018  36.011293
1        1978-06-21  1f76529f8574734946361c461b024d99  1325376044  49.159047
2        1962-01-19  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704
3        1967-01-12  6b849c168bdad6f867558c3793159a81  1325376076  47.034331
4        1986-03-28  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999
...             ...                               ...         ...        ...
1296670  1961-11-24  440b587732da4dc1a6395aba5fb41669  1371816728  36.841266
1296671  1979-12-11  278000d2e0d2277d1de2f890067dcc0a  1371816739  38.906881
1296672  1967-08-30  483f52fe67fabef353d552c1e662974c  1371816752  33.619513
1296673  1980-08-18  d667cdcbadaaed3da3f4020e83591c83  1371816816  42.788940
1296674  1995-08-16  8f7c8e4ab7f25875d753b422917c98c9  1371816817  46.565983

         merch_long  is_fraud
0        -82.048315         0
1       -118.186462         0
2       -112.154481         0
3       -112.561071         0
4        -78.632459         0
...             ...       ...
1296670 -111.690765         0
1296671  -78.246528         0
1296672 -105.130529         0
1296673 -103.241160         0
1296674 -114.186110         0

[1296675 rows x 23 columns]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
age_onehot = pd.get_dummies(df.age, prefix='age', drop_first=True)
category_onehot = pd.get_dummies(df.category, prefix='category', drop_first=True)
gender_onehot = pd.get_dummies(df.gender, prefix='gender', drop_first=True)

AttributeError: 'DataFrame' object has no attribute 'age'

In [ ]:
method= SMOTE()
X_resampled, y_resampled = method.fit_resample(X_train, y_train)
model=LogisticRegression()
model.fit(X_resampled,y_resampled)
predicted=model.predict(X_test)
print('Classification report:\n', classification_report(y_test, predicted))
conf_mat = confusion_matrix(y_true=y_test, y_pred=predicted)
print('Confusion matrix:\n', conf_mat)
print('Share of Non-Fraud in Test Data:', 1-round(y_test.sum()/len(y_test),4))